.blogCard {
  box-shadow: var(--mainShadow);
  border-radius: 20px;
  overflow: hidden;
  margin: 3.5rem 0;

  &:last-of-type {
    margin-bottom: 0;
  }
  
  &__imageWrap {
    position: relative;
  }

  &__image {
    height: 150px;
  }

  &__category {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.7rem;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1.5px solid var(--white);
    border-left: none;
    color: var(--white);
    text-transform: capitalize;
    text-align: center;

    &--lifestyle {
      background-color: var(--lifestyle);
    }

    &--food {
      background-color: var(--food);
    }

    &--travel {
      background-color: var(--travel);
    }
  }

  &__textWrap {
    padding: 1rem;
  }

  &__title {
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  &__description {

  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__author {

  }
}