:root {
  --black: #333333;
  --white: #fff;
  --primary: #ffd83a;
  --primary-transparent: rgba(255, 217, 58, 0.1);
  --secondary: #e76356;
  --secondary-transparent: rgba(231, 99, 86, 0.55);
  --lifestyle: #4a9c47;
  --lifestyle-transparent: rgba(74, 156, 71, 0.1);
  --food: #e76356;
  --food-transparent: rgba(231, 99, 86, 0.55);
  --travel: #1984b5;
  --travel-transparent: rgba(25, 132, 181, 0.1);
  --border: 3px solid var(--black);
  --mainTransition: 0.5s ease;
  --mainSpacing: 1.2px;
  --mainShadow: 2px 2px 8px rgba(0,0,0,0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
  background: var(--white);
  line-height: 1.4;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

a {
  text-decoration: none;
  background: none;
  color: var(--black);
}

.btn {
  background-color: var(--primary);
  border: var(--border);
  padding: 1rem 2rem;
  transition: var(--defaultTransition);
  border-radius: 8px;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: none;
  letter-spacing: var(--mainSpacing);
}
.btn:hover {
  background-color: var(--secondary);
  color: var(--white);
  cursor: pointer;
}
.btn-secondary {
  background-color: var(--travel);
  color: var(--white);
}
.btn-secondary:hover {
  background-color: var(--lifestyle);
}