.whyRead {
  text-align: center;
  margin-top: 5rem;

  &__headingWrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    text-align: center;
  }

  &__animation  {
    width: 80px;
    margin: 0;
    display: block;
  }

  &__subTitle {

  }

  .title {
    margin-top: 1rem;
  }

  &__p {
    margin-top: 1rem;
  }

  &__spinCircleWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rotateMe {
    animation: rotation 25s linear infinite;
    will-change: transform;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.testimonials {
  margin-top: 2rem;

  &__animation  {
    width: 120px;
    margin: 0 auto;
    display: block;
    margin-top: 0rem;
  }

  &__heading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

.cta {
  text-align: center;
  margin-top: 4rem;

  &__imgBook {
    width: 90%;
    max-width: 320px;
    margin-bottom: 3rem;
  }

  &__imgPhone {
    width: 32%;
    max-width: 120px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .btn {
    margin-top: 1rem;
  }
}

.blogIntro {
  margin-top: 6rem;

  &__ameliaImg {
    max-width: 200px;
    margin: 0 auto;
  }

  &__headingWrap1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__mainTitle1 {
    margin-right: 0.5rem;
    font-size: 2rem;
  }

  &__wave {
    animation: wave 0.8s infinite cubic-bezier(0.55, 0.085, 0.68, 0.53);
    width: 45px;
    margin-top: 1rem;

    @keyframes wave {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(10deg);
      }
      50% {
        transform: rotate(0deg);
      }
      75% {
        transform: rotate(-10deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }

  &__headingWrap2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__mainTitle2 {
    margin: 0;
    font-size: 1.7rem;
  }

  &__subTitle {
    margin: 0;
    letter-spacing: 4px;
    color: grey;
    margin-top: 0.4rem;
  }

  &__description  {
    margin-top: 1.5rem;
    text-align: center;
    margin: 1.5rem auto;
  }

  &__btnWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .btn {
      margin: 1rem;
    }
  }

  &__blogArrow {
    width: 300px;
    margin: 0 auto;
    margin-top: 3.5rem;
    transform: rotate(-30deg);

    svg {
      width: 100%;
    }
  }
}

.featuredBlogs {

  &__blogList {
  }

  &__btn {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
  }
}

.cta {
  margin: 5rem 0;
}