.newsletter {

  &__title {
    line-height: 1.5;
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  &__label {
    text-align: left;
    display: block;
    text-transform: capitalize;
    margin-bottom: 0.3rem;
  }

  &__inputGroup {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    border: var(--border);
    border-radius: 5px;
    padding: 0.5rem;
  }

  &__button {

  }

}